body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #232C4B;
    color: white;
}

#logo{
    max-width: 100%;
}

#hero{
    max-width: 100%;
}

#beneficioYContacto{
    background-color: #159EE8;
    color: #232C4B;
}

.form-contacto{
    background-color: white;
}


/*
h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.8rem;
}

p {
    font-size: 1rem;
}

.button {
    display: inline-block;
    background-color: #ff6f61;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

#contacto form {
    display: flex;
    flex-direction: column;
}

#contacto label {
    margin-bottom: 5px;
    font-weight: bold;
}

#contacto input, #contacto select, #contacto textarea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contacto button {
    padding: 10px;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contacto button:hover {
    background-color: #004a99;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
} */
