body {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: 'Archivo', sans-serif;
    font-weight: 300;
}

#logo {
    width: 500px;
}

#intro {
    height: 100vh;
    background-color: #E6BB5F;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slogan {
    color: #232C4B;
}

.btn-descubre-mas {
    background-color: #159EE8;
    color: white;
    border: none;
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.btn-descubre-mas:hover {
    background-color: #232C4B;
    color: white;
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.btn-solicitar-demo {
    background-color: #232C4B;
    color: white;
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.btn-solicitar-demo:hover {
    background-color: #E6BB5F;
    color: white;
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

#hero {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: block;
    padding: 0;
    margin: 0;
    border: none;
}

#beneficioYContacto {
    height: 100vh;
    background-color: #159EE8;
}

.form-contacto {
    background-color: white;
    padding-top: 0 !important;
}

#caracteristicas {
    height: 100vh;
    background-color: #232C4B;
    color: #f4f4f4;
}

.icon-text i {
    width: 40px;
    margin-right: 15px;
    font-size: 2rem;
    text-align: center;
    color: #232C4B;
}

.img-caracteristicas img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: #E6BB5F 6px solid;
}

h2 {
    font-family: 'Archivo', sans-serif;
    font-weight: 900;
}

h3, h4 {
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
}
